<h1>{{ pokemon.name }}</h1>
<span>{{ pokemon.id }}</span>
<br />
<img src="{{ pokemon.sprites.animated }}" alt="{{ pokemon.name }}">
<br />
<span>Weight: {{ pokemon.weight}}kg, Height: {{ pokemon.height }}</span>
<br />